
*.xml
*.iml
__pycache__/Core.cpython-37.pyc
/tests/Outputs

*.pyc
src/__pycache__/config.cpython-37.pyc
.h5
*.json
/venv/

.docx

src/DataStandardize/ExpConfig.py

.html
.jpg
/new_dash/temp_files/
/new_dash/pages/file_system_store/
