
*.xml
*.iml
__pycache__/Core.cpython-37.pyc
/tests/Outputs

*.pyc
*.json
/venv/

.docx

*.html
.jpg
*/new_dash/temp_files/
*/new_dash/pages/file_system_store/
*/new_dash/file_system_store/
*.csv
*.svg
*.itx
*.pdf
tests/temp.h5
*egg-info*
*.ipynb_checkpoints/
